.rating-block-title {
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    color: transparent;
    background: yellow;
    /* background-color: rgb(187, 235, 240); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1px #fff;
    font-family: "ZCOOL QingKe HuangYou", "Noto Sans JP", "M PLUS 1", sans-serif;
    letter-spacing: 0.1rem;
}

.content {
    width: 606px;
    height: 360px;
    filter: grayscale(80%);
    background-size: cover;
    z-index: 1;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
}

table {
    /* border-collapse: collapse; */
    width: 90%;
    font-family: "Noto Sans JP",sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    margin: 0 auto;

    background-color: #d7fbfe80;
    border: 3px solid #ffffff80;
    box-shadow: 0 0 15px #fff;
    border-radius: 10px;
    padding: 10px;
}

td {
    border: 2px solid #fff;
    padding: 8px;
}

.chart {
    display: flex;
    color: #000;
}

.chart-icon img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 5px solid #3f5250;
    border-radius: 5px;
}

.chart-msg {
    margin-left: 20px;
    
}