html,
body{
    margin: 0;
    height: 150vh;
    background: -webkit-linear-gradient(orange, rgb(218, 216, 211));
    font-size: 16px;
    z-index: -9;
}

.title-center {
    text-align: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}